NodeRedFlowBackup
[{"id":"e8053d30.45981","type":"tab","label":"SustentaDashboard","disabled":false,"info":""},{"id":"c43e14f8.420f08","type":"serial-port","z":"","serialport":"/dev/ttyUSB1","serialbaud":"1200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"62376bf1.d1a804","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"SustentaDashboard","default":"#4B7930","baseColor":"#3a7930","baseFont":"Verdana,Verdana,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#3a7930","edited":true},"page-titlebar-backgroundColor":{"value":"#77c08d","edited":true},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#f2f2f1","edited":true},"group-textColor":{"value":"#77c08d","edited":true},"group-borderColor":{"value":"#ffffff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#000000","edited":true},"widget-backgroundColor":{"value":"#3a7930","edited":false},"widget-borderColor":{"value":"#f2f2f1","edited":true},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Sustenta Dashboard","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":60,"sy":60,"gx":200,"gy":6,"cx":6,"cy":6,"px":0,"py":100}}},{"id":"2f6e735e.793b6c","type":"ui_group","z":"","name":"Temperatura","tab":"86796793.4ea458","order":3,"disp":false,"width":"9","collapse":false},{"id":"86796793.4ea458","type":"ui_tab","z":"","name":"Dashboard Sustenta ","icon":"dashboard","order":2},{"id":"b0eea6b5.6897d8","type":"ui_link","z":"","name":"Proyecto Sustenta","link":"https://sustentaproyecto.wixsite.com/home","icon":"open_in_browser","target":"newtab","order":1},{"id":"75b4a535.b35cfc","type":"ui_group","z":"","name":"Humedad","tab":"86796793.4ea458","order":1,"disp":false,"width":"9","collapse":false},{"id":"636640be.b689e","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"894e0554.b361c8","type":"inject","z":"e8053d30.45981","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["5c435b0.c3394a4"]]},{"id":"434043b6.4662fc","type":"serial request","z":"e8053d30.45981","name":"","serial":"c43e14f8.420f08","x":510,"y":140,"wires":[["8a954360.e83fb","77769f62.ca80b"]]},{"id":"8a954360.e83fb","type":"function","z":"e8053d30.45981","name":"Parse Hum","func":"\nif(msg.status == \"OK\"){\n    try{\n        var serialLine = msg.payload.split(\" \");\n        var hum_str = serialLine[0];\n        var hum_val = parseFloat(serialLine[1]);\n    }\n    catch (e){}\n\n    if(hum_str == \"Hum\"){\n        msg.topic = hum_str;\n        msg.payload = hum_val;\n    }\n\n    return msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":710,"y":100,"wires":[["595b1c9f.789a94"]]},{"id":"77769f62.ca80b","type":"function","z":"e8053d30.45981","name":"Parse Temp","func":"\nif(msg.status == \"OK\"){\n    try{\n        var serialLine = msg.payload.split(\" \");\n        var temp_str = serialLine[2];\n        var temp_val = parseFloat(serialLine[3].trim());\n    }\n    catch (e){}\n    \n    if(temp_str == \"Temp\"){\n        msg.topic = \"Temperatura\" \n        msg.payload = temp_val;\n    }\n\nreturn msg;}\n\n","outputs":1,"noerr":0,"x":710,"y":180,"wires":[["eec06f9.732599"]]},{"id":"5c435b0.c3394a4","type":"function","z":"e8053d30.45981","name":"set Timestamp","func":"msg.timestamp = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["434043b6.4662fc"]]},{"id":"eec06f9.732599","type":"ui_chart","z":"e8053d30.45981","name":"","group":"2f6e735e.793b6c","order":1,"width":0,"height":0,"label":"Temperatura del Vermicompost","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ed8a47","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":970,"y":180,"wires":[[],[]]},{"id":"595b1c9f.789a94","type":"ui_chart","z":"e8053d30.45981","name":"","group":"75b4a535.b35cfc","order":1,"width":"0","height":"0","label":"Humedad del Vermicompost","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"6","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ea72e","#98df8a","#e21416","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":960,"y":100,"wires":[[],[]]}]