NodeRedFlow
[{"id":"8299d691.ea6028","type":"tab","label":"SustentaDashboard","disabled":false,"info":""},{"id":"f11fce39.92a5e","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"1200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"fd856c3e.6c409","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f546612b.3ee9f","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"1200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"d987a39d.2f25f","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"SustentaDashboard","default":"#4B7930","baseColor":"#3a7930","baseFont":"Verdana,Verdana,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#3a7930","edited":true},"page-titlebar-backgroundColor":{"value":"#77c08d","edited":true},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#f2f2f1","edited":true},"group-textColor":{"value":"#77c08d","edited":true},"group-borderColor":{"value":"#ffffff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#000000","edited":true},"widget-backgroundColor":{"value":"#3a7930","edited":false},"widget-borderColor":{"value":"#f2f2f1","edited":true},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Sustenta Dashboard","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":60,"sy":60,"gx":200,"gy":6,"cx":6,"cy":6,"px":0,"py":100}}},{"id":"9b1659.b4ea59a8","type":"ui_group","z":"","name":"Temperatura","tab":"5ed57d10.347304","order":3,"disp":false,"width":"9","collapse":false},{"id":"5ed57d10.347304","type":"ui_tab","z":"","name":"Dashboard Sustenta ","icon":"dashboard","order":2},{"id":"3568d4d7.17b88c","type":"ui_link","z":"","name":"Proyecto Sustenta","link":"https://sustentaproyecto.wixsite.com/home","icon":"open_in_browser","target":"newtab","order":1},{"id":"107b30f8.7cdebf","type":"ui_group","z":"","name":"Humedad","tab":"5ed57d10.347304","order":1,"disp":false,"width":"9","collapse":false},{"id":"ded847f7.b88a68","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c8f50f8d.aa212","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"1200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"950175cb.5dd2c8","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"SustentaDashboard","default":"#4B7930","baseColor":"#3a7930","baseFont":"Verdana,Verdana,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#3a7930","edited":true},"page-titlebar-backgroundColor":{"value":"#77c08d","edited":true},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#f2f2f1","edited":true},"group-textColor":{"value":"#77c08d","edited":true},"group-borderColor":{"value":"#ffffff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#000000","edited":true},"widget-backgroundColor":{"value":"#3a7930","edited":false},"widget-borderColor":{"value":"#f2f2f1","edited":true},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Sustenta Dashboard","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":60,"sy":60,"gx":200,"gy":6,"cx":6,"cy":6,"px":0,"py":100}}},{"id":"cf247d25.d12ef","type":"ui_group","z":"","name":"Temperatura","tab":"616b5a77.3b9414","order":3,"disp":false,"width":"9","collapse":false},{"id":"616b5a77.3b9414","type":"ui_tab","z":"","name":"Dashboard Sustenta ","icon":"dashboard","order":2},{"id":"a66f1610.9a5dd8","type":"ui_link","z":"","name":"Proyecto Sustenta","link":"https://sustentaproyecto.wixsite.com/home","icon":"open_in_browser","target":"newtab","order":1},{"id":"8afa7a0.4e60f88","type":"ui_group","z":"","name":"Humedad","tab":"616b5a77.3b9414","order":1,"disp":false,"width":"9","collapse":false},{"id":"1f368764.cd8c89","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4a91c5c4.4cac4c","type":"inject","z":"8299d691.ea6028","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["761bafc6.bdb05"]]},{"id":"72b57d5d.7ca844","type":"serial request","z":"8299d691.ea6028","name":"","serial":"f546612b.3ee9f","x":510,"y":140,"wires":[["629edeb6.12556","f79cddcf.774f7"]]},{"id":"629edeb6.12556","type":"function","z":"8299d691.ea6028","name":"Parse Hum","func":"\nif(msg.status == \"OK\"){\n    try{\n        var serialLine = msg.payload.split(\" \");\n        var hum_str = serialLine[0];\n        var hum_val = parseFloat(serialLine[1]);\n    }\n    catch (e){}\n\n    if(hum_str == \"Hum\"){\n        msg.topic = hum_str;\n        msg.payload = hum_val;\n    }\n\n    return msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":710,"y":100,"wires":[["c09a3c12.6ff8b"]]},{"id":"f79cddcf.774f7","type":"function","z":"8299d691.ea6028","name":"Parse Temp","func":"\nif(msg.status == \"OK\"){\n    try{\n        var serialLine = msg.payload.split(\" \");\n        var temp_str = serialLine[2];\n        var temp_val = parseFloat(serialLine[3].trim());\n    }\n    catch (e){}\n    \n    if(temp_str == \"Temp\"){\n        msg.topic = \"Temperatura\" \n        msg.payload = temp_val;\n    }\n\nreturn msg;}\n\n","outputs":1,"noerr":0,"x":710,"y":180,"wires":[["af404488.5e08b8"]]},{"id":"761bafc6.bdb05","type":"function","z":"8299d691.ea6028","name":"set Timestamp","func":"msg.timestamp = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["72b57d5d.7ca844"]]},{"id":"af404488.5e08b8","type":"ui_gauge","z":"8299d691.ea6028","name":"","group":"cf247d25.d12ef","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura del Vermicompost","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":975.8681793212891,"y":180.00668907165527,"wires":[]},{"id":"c09a3c12.6ff8b","type":"ui_gauge","z":"8299d691.ea6028","name":"","group":"8afa7a0.4e60f88","order":0,"width":"0","height":"0","gtype":"gage","title":"Humedad del Vermicompost","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":965.8681793212891,"y":100.00668907165527,"wires":[]}]