NodeRedFlow
[{"id":"1063b952.412707","type":"tab","label":"SustentaDashboard","disabled":false,"info":""},{"id":"ac1ae2dc.83f1f","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"1200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"9efeca20.c67c38","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"SustentaDashboard","default":"#4B7930","baseColor":"#3a7930","baseFont":"Verdana,Verdana,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#3a7930","edited":true},"page-titlebar-backgroundColor":{"value":"#77c08d","edited":true},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#f2f2f1","edited":true},"group-textColor":{"value":"#77c08d","edited":true},"group-borderColor":{"value":"#ffffff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#000000","edited":true},"widget-backgroundColor":{"value":"#3a7930","edited":false},"widget-borderColor":{"value":"#f2f2f1","edited":true},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Sustenta Dashboard","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":60,"sy":60,"gx":200,"gy":6,"cx":6,"cy":6,"px":0,"py":100}}},{"id":"58e8af5a.09165","type":"ui_group","z":"","name":"Temperatura","tab":"d7b137cd.0203d8","order":3,"disp":false,"width":"9","collapse":false},{"id":"d7b137cd.0203d8","type":"ui_tab","z":"","name":"Dashboard Sustenta ","icon":"dashboard","order":2},{"id":"c725917c.04e52","type":"ui_link","z":"","name":"Proyecto Sustenta","link":"https://sustentaproyecto.wixsite.com/home","icon":"open_in_browser","target":"newtab","order":1},{"id":"4a4f2a9c.7134e4","type":"ui_group","z":"","name":"Humedad","tab":"d7b137cd.0203d8","order":1,"disp":false,"width":"9","collapse":false},{"id":"fab6b534.48eeb8","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"eb54b0d5.1c45a","type":"inject","z":"1063b952.412707","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["d4db4e00.bd2d2"]]},{"id":"fdc6f128.3480e","type":"serial request","z":"1063b952.412707","name":"","serial":"ac1ae2dc.83f1f","x":510,"y":140,"wires":[["e842e2a9.88417","ddcca367.3223b"]]},{"id":"e842e2a9.88417","type":"function","z":"1063b952.412707","name":"Parse Hum","func":"\nif(msg.status == \"OK\"){\n    try{\n        var serialLine = msg.payload.split(\" \");\n        var hum_str = serialLine[0];\n        var hum_val = parseFloat(serialLine[1]);\n    }\n    catch (e){}\n\n    if(hum_str == \"Hum\"){\n        msg.topic = hum_str;\n        msg.payload = hum_val;\n    }\n\n    return msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":710,"y":100,"wires":[["c1d8518c.9acc6"]]},{"id":"ddcca367.3223b","type":"function","z":"1063b952.412707","name":"Parse Temp","func":"\nif(msg.status == \"OK\"){\n    try{\n        var serialLine = msg.payload.split(\" \");\n        var temp_str = serialLine[2];\n        var temp_val = parseFloat(serialLine[3].trim());\n    }\n    catch (e){}\n    \n    if(temp_str == \"Temp\"){\n        msg.topic = \"Temperatura\" \n        msg.payload = temp_val;\n    }\n\nreturn msg;}\n\n","outputs":1,"noerr":0,"x":710,"y":180,"wires":[["32955c5c.2db754"]]},{"id":"d4db4e00.bd2d2","type":"function","z":"1063b952.412707","name":"set Timestamp","func":"msg.timestamp = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["fdc6f128.3480e"]]},{"id":"32955c5c.2db754","type":"ui_chart","z":"1063b952.412707","name":"","group":"58e8af5a.09165","order":1,"width":0,"height":0,"label":"Temperatura del Vermicompost","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ed8a47","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":970,"y":180,"wires":[[],[]]},{"id":"c1d8518c.9acc6","type":"ui_chart","z":"1063b952.412707","name":"","group":"4a4f2a9c.7134e4","order":1,"width":"0","height":"0","label":"Humedad del Vermicompost","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"6","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ea72e","#98df8a","#e21416","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":960,"y":100,"wires":[[],[]]}]
